body{
    width: 100%;
    margin: 0;
}

/* Logo and navbar */
.logo{
    background-color: #c1cac2;
}

.logoimage{   
    margin-left: 45px;
    margin-top: 45px;
}     

#name{
    display: inline-block;
    margin-top: 0;
    margin-left: 40px;
}

nav {
   background-color: rgb(90, 85, 85);
   height: 50px;  
   position: -webkit-sticky; /* Safari */
   position: sticky;
   top: 0;  
} 

.navbar {
    float: right;   
}

nav a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    margin-top: 10px; 
    margin-right: 175px;       
}

/* About us text */
.guernica{
    width: 100%; 
}

.container {
    position: relative;
  }

 .tyler{
    position: absolute;
    bottom: 200px;
    left: 100px;
 } 
 
 
.text-block {
    bottom: 190px;
    right: 100px;
    position: absolute;
    width: 40%;
    background-color: #435B69;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
 
/* Footer */
.myfooter {
    text-align: center;
    padding: 20px;
    background-color: rgb(90, 85, 85);
    color: whitesmoke;   
  }
  .myfooter img{
    padding: 0 20px;
  
}